# II. Знакомство с Python

## II.6. pandas

In [1]:
import pandas as pd 
data = pd.read_csv('Data/Churn.csv', sep=';')
data.head()

     region  tenure  age  address  income  employ retire gender  reside  churn
0  REGION 2      13   44        9      64       5      N      M       2      1
1  REGION 3      11   33        7     136       5      N      M       6      1
2  REGION 3      68   52       24     116      29      N      F       2      0
3  REGION 2      33   33       12      33       0      N      F       1      1
4  REGION 2      23   30        9      30       2      N      M       4      0